/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } 
}*/
.div1{
  
  /* background-image:url(C:\Users\gamya\Desktop\Sample1\frontend\public\background.ico); */
  background-color:bisque;
  background-position:center ;
  background-repeat: no-repeat;
  height: 100%;
  width:100%;
}
.im
{
  margin: 10vh;
}
.button
{
 margin: 15vh 48%;
}
.div2{
  background-color:grey;
  height:350px;
}
.div3{
  margin-top: -10%;
}
.txt
{
  width:25%;
  border-radius: 45%;
}
.div_s{
  /* background-image:url(C:\Users\gamya\Desktop\Sample1\frontend\public\s2.ico); */
  background-color:bisque;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
  width: 250px;
  margin-left: 15%;
}
.div_p{
  /* background-image:url(C:\Users\gamya\Desktop\Sample1\frontend\public\p1.ico); */
  background-color:bisque;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
  width: 250px;
  margin-left: 40%;
  
}
.button_s{
  background-color: red;
  margin-left: 35%;
  margin-top:35%;

}
.div_d{
  /* background-image:url(C:\Users\gamya\Desktop\Sample1\frontend\public\d1.ico); */
  background-color:bisque;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
  width: 250px;
  margin-left: 70%;
}
.div_b{
  background-color:grey;
}
.p_s{
  background-color:bisque;
  margin-left: 30%;
  margin-top:-25%;
  font-size:20px;
  font-style: oblique;
}
.homepage{
  background-color:bisque;
align-items: center;
margin:5vh;
}
.ga{
/* background-image:url(C:\Users\gamya\Desktop\Sample1\frontend\public\b1.ico); */
  /* background-position: center; */
  background-color:bisque;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-size: 100%;
  text-align: center;
  
}
@media only screen and (max-width:480px){


}